<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NexDirect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NexDirect.Properties.Settings>
            <setting name="overlayMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audioPreviews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="beatmapMirror" serializeAs="String">
                <value />
            </setting>
            <setting name="customBgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="launchOsu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="osuFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="useOfficialOsu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="officialOsuCookies" serializeAs="String">
                <value />
            </setting>
            <setting name="officialOsuUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="officialOsuPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="configUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="linkerDefaultBrowser" serializeAs="String">
                <value />
            </setting>
        </NexDirect.Properties.Settings>
    </userSettings>
</configuration>