html,
body {
    margin: 0;
}

html {
    background: url(img/49037131_p0_wwcrop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

.webpage {
    text-align: center;
}

.header {
    padding-top: 25px;
}

.row {
    padding-top: 35px;
}

.right.row {
    text-align: right;
}

.left.row {
    text-align: left;
}